@font-face {
    font-family: MyriadProBold;
    src: url(../../fonts/MyriadPro-Bold.ttf);
    font-display: swap;
}

@font-face {
    font-family: MyriadProBoldItalic;
    src: url(../../fonts/MyriadPro-BoldIt.ttf);
    font-display: swap;
}

@font-face {
    font-family: MyriadProItalic;
    src: url(../../fonts/MyriadPro-It.ttf);
    font-display: swap;
}

@font-face {
    font-family: MyriadProRegular;
    src: url(../../fonts/MyriadPro-Regular.ttf);
    font-display: swap;
}
