@font-face {
  font-family: MyriadProBold;
  src: url(../../fonts/MyriadPro-Bold.ttf);
  font-display: swap;
}
@font-face {
  font-family: MyriadProBoldItalic;
  src: url(../../fonts/MyriadPro-BoldIt.ttf);
  font-display: swap;
}
@font-face {
  font-family: MyriadProItalic;
  src: url(../../fonts/MyriadPro-It.ttf);
  font-display: swap;
}
@font-face {
  font-family: MyriadProRegular;
  src: url(../../fonts/MyriadPro-Regular.ttf);
  font-display: swap;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input {
  padding: 0;
  margin: 0;
  border: 0;
}

input::-ms-clear {
  display: none;
}

input:focus {
  outline: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: #fff;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  -webkit-padding-start: 0 !important;
          padding-inline-start: 0 !important;
  margin: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

html {
  height: 100%;
}

body {
  color: #f1ac11;
  font-family: MyriadProRegular;
  font-weight: 300;
  margin: 0;
  padding: 0;
  height: 100%;
}
body.lock {
  overflow: hidden;
}

#map {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  z-index: 100;
}
.header__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding-right: 70px;
  padding-left: 70px;
  height: 100px;
}
@media (max-width: 1200px) {
  .header__wrapper {
    padding-right: calc(10px + 60 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .header__wrapper {
    padding-left: calc(10px + 60 * ((100vw - 320px) / 880));
  }
}
@media (min-width: 767.98px) {
  .header__wrapper {
    height: 200px;
  }
}
.header__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (min-width: 991.98px) {
  .header__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 39.0625%;
            flex: 0 1 39.0625%;
  }
}
.header__img img {
  width: 270px;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .header__img img {
    width: calc(170px + 100 * ((100vw - 320px) / 880));
  }
}
.header__nav {
  display: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  gap: 50px;
}
@media (min-width: 991.98px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__nav--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  font-size: 22px;
  font-family: MyriadProBoldItalic;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
@media (max-width: 1200px) {
  .header__nav--item {
    font-size: calc(18px + 4 * ((100vw - 320px) / 880));
  }
}
@media (any-hover: hover) {
  .header__nav--item:hover {
    color: #f1ac11;
  }
  .header__nav--item:hover::after {
    width: 100%;
  }
}
.header__nav--item::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #f1ac11;
  margin: 10px 0px 0px 0px;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}
.header._scroll .header__wrapper {
  height: 100px;
  background-color: rgba(0, 0, 0, 0.664);
}
.header._scroll .header__nav {
  padding: 15px 0px 0px 0px;
}

.burger {
  display: block;
  position: relative;
  width: 50px;
  height: 25px;
}
@media (min-width: 991.98px) {
  .burger {
    display: none;
  }
}
.burger span {
  position: absolute;
  width: 40px;
  height: 2px;
  left: 0;
  background-color: #f1ac11;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform-origin: left;
          transform-origin: left;
}
.burger span:nth-child(2) {
  top: 46%;
}
.burger span:first-child {
  top: 0;
}
.burger span:last-child {
  bottom: 0;
}

.content {
  width: 100%;
}

@media (min-width: 1365.98px) {
  .main {
    height: 100vh;
  }
}
.main__inner {
  height: 100%;
}
.main__imgs {
  height: 100%;
}
@media (min-width: 1365.98px) {
  .main__imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 1365.98px) {
  .main__img--first {
    left: 0;
  }
}
@media (min-width: 1365.98px) {
  .main__img--first img {
    -webkit-transform: translateX(-210px);
            transform: translateX(-210px);
  }
}
.main__img--inner {
  height: 100%;
}
.main__img--inner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1365.98px) {
  .main__img--first, .main__img--third {
    position: absolute;
    top: 0;
    height: 100%;
  }
}
@media (min-width: 1365.98px) {
  .main__img--second {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 41.6666666667%;
            flex: 0 1 41.6666666667%;
    -webkit-transform: skew(-20deg);
            transform: skew(-20deg);
    z-index: 2;
    border-right: 2px solid #f1ac11;
    border-left: 2px solid #f1ac11;
  }
}
.main__img--third {
  width: 1000px;
  right: 0;
  z-index: 1;
}
@media (max-width: 1920px) {
  .main__img--third {
    width: 765px;
  }
}
@media (max-width: 1365.98px) {
  .main__img--third {
    width: 100%;
  }
}
.main__img--third img {
  -o-object-position: right;
     object-position: right;
}
.main__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__name--block {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: absolute;
  padding: 45px 70px 45px 70px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0.75;
  background: radial-gradient(circle at 0 100%, rgba(0, 0, 0, 0) 35px, white 10px), radial-gradient(circle at 100% 100%, rgba(0, 0, 0, 0) 35px, white 10px), radial-gradient(circle at 100% 0, rgba(0, 0, 0, 0) 35px, white 10px), radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 35px, white 10px);
  background-position: bottom left, bottom right, top right, top left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}
@media (min-width: 1365.98px) {
  .main__name--block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.main__name--block--title {
  font-family: MyriadProBold;
  color: #000;
  font-size: 38px;
  padding: 0px 0px 20px 0px;
  text-align: center;
  max-width: 235px;
}
.main__name--block--btn {
  font-family: MyriadProRegular;
  color: #111;
  font-size: 16px;
  padding: 10px 25px !important;
  border-radius: 5px;
}
.main__name--block--first {
  left: 70px;
}
.main__name--block--third {
  right: 70px;
}
@media (any-hover: hover) {
  .main__name--block:hover {
    opacity: 1;
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
  }
}

.menu__container {
  max-width: 930px;
}
.menu__inner {
  padding: 80px 0px;
}
.menu__title {
  margin: 0px 0px 40px 0px;
}
.menu__body {
  margin: 0px 0px 100px 0px;
}
.menu__body--filter {
  font-family: MyriadProItalic;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  color: #000;
  margin: 0px 0px 40px 0px;
}
.menu__body--items {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(270px, 410px));
  gap: 80px;
  row-gap: 40px;
}
.menu__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 0 auto;
  -ms-grid-columns: 80px 30px 1fr;
      grid-template: auto auto/80px 1fr;
  gap: 30px;
  row-gap: 0;
}
.menu__item img {
  -ms-grid-row-span: 2;
  grid-row: span 2;
}
.menu__item--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__item--title--text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  font-family: MyriadProRegular;
  color: #000;
}
.menu__item--title--text::after {
  content: "";
}
.menu__item--title--price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  font-family: MyriadProBold;
  color: #000;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 45px;
  height: 27px;
  background-color: #f1ac11;
  background: radial-gradient(circle at 0 100%, rgba(0, 0, 0, 0) 7px, #f1ac11 5px), radial-gradient(circle at 100% 100%, rgba(0, 0, 0, 0) 7px, #f1ac11 5px), radial-gradient(circle at 100% 0, rgba(0, 0, 0, 0) 7px, #f1ac11 5px), radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 7px, #f1ac11 5px);
  background-position: bottom left, bottom right, top right, top left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}
.menu__item--alergens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
  font-family: MyriadProItalic;
  color: #bcbcbc;
}
.menu__slide--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 950px;
          flex: 0 1 950px;
  height: 310px;
  border: 1px solid #f6f6f6;
}
.menu__slide--img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 450px;
          flex: 0 1 450px;
}
.menu__slide--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
  margin: 0px 0px 0px 30px;
}
.menu__slide--info--online {
  font-size: 12px;
  font-family: MyriadProItalic;
  margin: 0px 0px -5px 0px;
}
.menu__slide--info--title {
  font-size: 24px;
  font-family: MyriadProItalic;
  max-width: 260px;
  text-transform: uppercase;
  line-height: 120%;
  color: #000;
}
.menu__slide--info--text {
  max-width: 335px;
  font-size: 14px;
  font-family: MyriadProItalic;
  color: #bcbcbc;
  line-height: 140%;
}
.menu__slide--info--button {
  font-size: 14px;
  font-family: MyriadProItalic;
  text-transform: uppercase;
  color: #000;
  -webkit-box-shadow: 0px 0px 0px !important;
          box-shadow: 0px 0px 0px !important;
  border-bottom: 3px solid #b47d00;
}
.menu__slider {
  padding: 0px 0px 80px 0px;
}
.menu__slider--next.swiper-button-next {
  right: -30px;
}
.menu__slider .swiper-button-disabled {
  display: none;
}

.findus {
  background-image: url(../../img/where_to_find_us/background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.findus__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 0px;
}
.findus__window {
  padding: 80px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 570px;
          flex: 0 1 570px;
  height: 330px;
  background: radial-gradient(circle at 0 100%, rgba(0, 0, 0, 0) 35px, #fff 5px), radial-gradient(circle at 100% 100%, rgba(0, 0, 0, 0) 35px, #fff 5px), radial-gradient(circle at 100% 0, rgba(0, 0, 0, 0) 35px, #fff 5px), radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 35px, #fff 5px);
  background-position: bottom left, bottom right, top right, top left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}
.findus__window--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
  max-width: 430px;
  margin: 0 auto;
}
.findus__window--title {
  text-transform: uppercase;
  font-size: 28px;
  font-family: MyriadProItalic;
  color: #000;
}
.findus__window--address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.findus__window--address--logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  font-family: MyriadProRegular;
  gap: 20px;
  color: #f1ac11;
}
.findus__window--address--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  font-size: 18px;
  font-family: MyriadProItalic;
  color: #000;
}
.findus__window--address--text p {
  margin: 0;
}
.findus__window--btn {
  -webkit-box-shadow: 0px 0px 0px !important;
          box-shadow: 0px 0px 0px !important;
  border-bottom: 3px solid #b47d00;
  color: #000;
  font-size: 14px;
  font-family: MyriadProItalic;
}

.footer {
  background-image: url(../../img/footer/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer__inner {
  padding: 80px 0px;
}
@media (min-width: 479.98px) {
  .footer__blocks {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 195px));
    grid-auto-flow: row;
    row-gap: 50px;
  }
}
@media (min-width: 991.98px) {
  .footer__blocks {
    grid-auto-flow: column;
  }
}
.footer__block {
  padding: 0px 0px 0px 15px;
  color: #fff;
}
@media (max-width: 479.98px) {
  .footer__block:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
}
.footer__block--title {
  font-size: 22px;
  font-family: MyriadProItalic;
  margin: 0px 0px 25px 0px;
  text-transform: uppercase;
  white-space: nowrap;
}
.footer__block--list li {
  font-size: 17px;
  font-family: MyriadProItalic;
  text-transform: uppercase;
  color: #bbbbbb;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (any-hover: hover) {
  .footer__block--list li:hover {
    color: #fff;
  }
}
.footer__block--list li:not(:last-child) {
  margin: 0px 0px 5px 0px;
}
.footer__block--sendform {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column-span: 3;
  grid-column: span 3;
}
@media (min-width: 991.98px) {
  .footer__block--sendform {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__block--sendform form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-family: MyriadProItalic;
  gap: 23px;
}
@media (min-width: 991.98px) {
  .footer__block--sendform form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer__block--sendform form input {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 225px;
          flex: 0 1 225px;
  background-color: rgba(255, 255, 255, 0.527);
  padding: 11px 0px 11px 15px;
}
.footer__block--sendform form input::-webkit-input-placeholder {
  color: #fff;
  text-transform: uppercase;
}
.footer__block--sendform form input:-moz-placeholder {
  color: #fff;
  text-transform: uppercase;
}
.footer__block--sendform form input::-moz-placeholder {
  color: #fff;
  text-transform: uppercase;
}
.footer__block--sendform form input:-ms-input-placeholder {
  color: #fff;
  text-transform: uppercase;
}
.footer__block--sendform form button {
  font-size: 12px;
  font-family: MyriadProItalic;
  color: #000;
  -webkit-box-shadow: 0px 0px 0px !important;
          box-shadow: 0px 0px 0px !important;
  border-bottom: 3px solid #b47d00;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.unhide {
  display: block !important;
}

.title {
  font-size: 42px;
  text-align: center;
  font-family: MyriadProItalic;
  text-transform: uppercase;
  color: #f1ac11;
}
@media (max-width: 1200px) {
  .title {
    font-size: calc(20px + 22 * ((100vw - 320px) / 880));
  }
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  z-index: 1;
  background-color: #f1ac11;
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 1200px) {
  .btn {
    padding-right: calc(8px + 4 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .btn {
    padding-left: calc(8px + 4 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .btn {
    padding-top: calc(8px + 4 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .btn {
    padding-bottom: calc(8px + 4 * ((100vw - 320px) / 880));
  }
}
@media (any-hover: hover) {
  .btn:hover {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}